{% extends '::base.html.twig' %}

{% block title 'Events' %}

{# this causes the page to be unstyled. Missing stylesheet links in page source #}
{% block stylesheets %}
    {% stylesheets
        'bundles/yodaevent/css/*'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{%  endblock %}
